body {
  /* background-color: black;
  background-image: url(./img/bg1.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
  margin: 0;
  padding: 0;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
header,
main,
footer {
  border: 1px solid rgb(255, 68, 47);
  height: 100px;
}
main {
  flex: 1 1 auto;
}
.navig_list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navig_list {
  list-style: none;
}
.navig_link {
  padding: 0 20px;
  line-height: 50px;
}
